# datetime模块

In [115]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame
from datetime import datetime
from datetime import timedelta
from dateutil.parser import parse

In [101]:
now = datetime.now()
now

datetime.datetime(2018, 5, 30, 16, 51, 57, 182245)

In [102]:
now.year,now.month,now.day

(2018, 5, 30)

# delta

In [103]:
delta = datetime(2011,1,7)-datetime(2008,6,24,8,15)

delta     #926 days, 15:45:00

datetime.timedelta(926, 56700)

In [104]:
delta.days

926

In [105]:
delta.seconds

56700

In [107]:
start = datetime(2011,1,7)
start + timedelta(12)  #12 days

datetime.datetime(2011, 1, 19, 0, 0)

In [108]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

# 字符串和datetime的相互转换

In [110]:
stamp = datetime(2011,1,3)
stamp

datetime.datetime(2011, 1, 3, 0, 0)

In [111]:
str(stamp)

'2011-01-03 00:00:00'

## strftime格式化

In [112]:
stamp.strftime('%Y-%m-%d')    #相当于datetime通过strftime格式化

'2011-01-03'

## strptime已知格式日期解析

In [113]:
value = '2011-01-03'
datetime.strptime(value,'%Y-%m-%d')    #相当于通过strptime将格式化的转位datetime

datetime.datetime(2011, 1, 3, 0, 0)

In [114]:
datestrs = ['7/6/2011','8/6/2011']
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

## dateutil中的parser.parse

In [116]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [117]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

### dayfirst = True

In [122]:
parse('6/12/2011',dayfirst = True)

datetime.datetime(2011, 12, 6, 0, 0)

### to_datetime

In [119]:
datestrs

['7/6/2011', '8/6/2011']

In [120]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

### 处理缺失值

In [123]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [124]:
idx[2] #NaT(not a time)是pandas中时间戳数据的NA值

NaT

In [125]:
pd.isnull(idx)

array([False, False,  True], dtype=bool)

# 时间序列基础

In [126]:
dates = [datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),
        datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]
dates

[datetime.datetime(2011, 1, 2, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 7, 0, 0),
 datetime.datetime(2011, 1, 8, 0, 0),
 datetime.datetime(2011, 1, 10, 0, 0),
 datetime.datetime(2011, 1, 12, 0, 0)]

In [127]:
ts = Series(np.random.randn(6),index = dates)
ts   #ts就变成了一个TimeSeries了

2011-01-02    1.010280
2011-01-05   -1.346911
2011-01-07    0.897244
2011-01-08   -1.101381
2011-01-10   -1.088600
2011-01-12   -0.772412
dtype: float64

In [129]:
ts + ts[::2]

2011-01-02    2.020561
2011-01-05         NaN
2011-01-07    1.794489
2011-01-08         NaN
2011-01-10   -2.177200
2011-01-12         NaN
dtype: float64

In [ ]:
#pandas用Numpy的datetime64数据类型以纳秒形式存储时间戳

In [130]:
ts.index.dtype

dtype('<M8[ns]')

In [133]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

# 索引、选取、子集构造

In [134]:
ts

2011-01-02    1.010280
2011-01-05   -1.346911
2011-01-07    0.897244
2011-01-08   -1.101381
2011-01-10   -1.088600
2011-01-12   -0.772412
dtype: float64

## 数据索引

In [135]:
stamp = ts.index[2]
ts[stamp]

0.89724445392747554

In [136]:
ts['1/10/2011']

-1.088599889389624

In [137]:
ts['20110110']

-1.088599889389624

## 数据切片

In [138]:
longer_ts = Series(np.random.randn(1000),index = pd.date_range('1/1/2000',periods = 1000))  #1000days
longer_ts

2000-01-01    0.794262
2000-01-02   -0.604685
2000-01-03    0.215134
2000-01-04    0.737016
2000-01-05   -2.328088
2000-01-06    1.385121
2000-01-07    2.253525
2000-01-08    0.629555
2000-01-09   -1.066542
2000-01-10   -0.182923
2000-01-11    0.847798
2000-01-12   -0.564487
2000-01-13   -0.293050
2000-01-14    0.465107
2000-01-15    0.364380
2000-01-16    0.532751
2000-01-17    1.029708
2000-01-18   -0.536929
2000-01-19   -0.031914
2000-01-20    0.621849
2000-01-21   -0.802742
2000-01-22    0.098112
2000-01-23    0.334317
2000-01-24    0.231633
2000-01-25   -1.509906
2000-01-26    0.164808
2000-01-27   -1.090271
2000-01-28   -0.544581
2000-01-29    0.821682
2000-01-30   -0.834326
                ...
2002-08-28    0.915462
2002-08-29   -0.469665
2002-08-30    0.971101
2002-08-31   -0.123663
2002-09-01    1.054634
2002-09-02    1.567873
2002-09-03   -1.256964
2002-09-04   -0.227342
2002-09-05    1.715745
2002-09-06   -0.316304
2002-09-07    0.973518
2002-09-08    0.013857
2002-09-09   -0.123380
2002-09-10    0.777351
2002-09-11    0.770262
2002-09-12   -0.230078
2002-09-13    0.155277
2002-09-14   -0.448565
2002-09-15    2.055634
2002-09-16   -1.633734
2002-09-17   -0.792524
2002-09-18   -1.010474
2002-09-19   -1.350456
2002-09-20   -0.994025
2002-09-21    1.347293
2002-09-22   -0.732804
2002-09-23   -0.258987
2002-09-24    1.588813
2002-09-25    0.865631
2002-09-26    0.625625
Freq: D, Length: 1000, dtype: float64

In [139]:
longer_ts['2001']

2001-01-01   -0.936508
2001-01-02   -1.212426
2001-01-03    0.407243
2001-01-04    0.222173
2001-01-05    0.705255
2001-01-06    0.533705
2001-01-07   -0.271035
2001-01-08    1.010877
2001-01-09   -1.007625
2001-01-10   -0.059173
2001-01-11   -1.643034
2001-01-12    0.546990
2001-01-13    0.413876
2001-01-14   -0.561846
2001-01-15    0.131112
2001-01-16   -0.113195
2001-01-17   -2.152430
2001-01-18   -0.825520
2001-01-19    0.617260
2001-01-20   -1.251264
2001-01-21   -1.211746
2001-01-22   -0.485480
2001-01-23    0.174256
2001-01-24    0.007197
2001-01-25   -1.792217
2001-01-26    2.066472
2001-01-27    0.116981
2001-01-28    1.441366
2001-01-29   -0.316217
2001-01-30   -0.254210
                ...
2001-12-02   -0.312558
2001-12-03   -0.773886
2001-12-04   -0.862418
2001-12-05   -0.387320
2001-12-06   -0.658100
2001-12-07    1.498470
2001-12-08   -0.058024
2001-12-09    0.269673
2001-12-10    0.040084
2001-12-11   -0.694445
2001-12-12    1.477408
2001-12-13   -1.980331
2001-12-14   -0.960041
2001-12-15   -0.552732
2001-12-16   -0.052552
2001-12-17   -0.278589
2001-12-18    0.259154
2001-12-19   -1.271107
2001-12-20   -0.213895
2001-12-21    0.104586
2001-12-22    1.038613
2001-12-23    0.206103
2001-12-24   -1.930712
2001-12-25    0.573305
2001-12-26   -4.314636
2001-12-27   -0.661559
2001-12-28    0.069150
2001-12-29   -0.207827
2001-12-30   -0.758889
2001-12-31    1.348875
Freq: D, Length: 365, dtype: float64

In [140]:
ts[datetime(2011,1,7):]

2011-01-07    0.897244
2011-01-08   -1.101381
2011-01-10   -1.088600
2011-01-12   -0.772412
dtype: float64

In [141]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.897244
2011-01-08   -1.101381
2011-01-10   -1.088600
dtype: float64

## truncate

In [142]:
ts.truncate(after = '1/9/2011')

2011-01-02    1.010280
2011-01-05   -1.346911
2011-01-07    0.897244
2011-01-08   -1.101381
dtype: float64

## 对dataframe有效

In [143]:
dates = pd.date_range('1/1/2000',periods = 100, freq = 'W-WED')
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [144]:
long_df = DataFrame(np.random.randn(100,4),index = dates,columns=['Colorado','Texas','New York','Ohio'])
long_df

            Colorado     Texas  New York      Ohio
2000-01-05  0.869380  1.776743  0.897022  0.217430
2000-01-12  0.424569  0.969125 -0.545287  0.672040
2000-01-19 -0.820177  2.787700 -1.246517  0.239366
2000-01-26  0.573652  0.206010  1.909127  0.161647
2000-02-02 -1.512479 -1.252114 -0.975916  1.184940
2000-02-09 -0.826200  0.606439 -0.351658 -0.405876
2000-02-16 -0.073725  0.378664  0.823275 -0.589091
2000-02-23 -0.006472  0.627340 -2.113636 -0.772990
2000-03-01 -0.659447 -0.208751  0.972212  1.183451
2000-03-08 -1.231874  0.599023 -1.399217  0.080979
2000-03-15 -0.304310 -0.239473  0.591308 -0.014017
2000-03-22  2.235992  0.242541 -1.041180  0.538229
2000-03-29 -1.496927 -0.197588 -1.768863 -0.841929
2000-04-05 -0.911803  1.171638 -0.753168  0.187095
2000-04-12  0.033120 -0.563600 -0.276421  1.635490
2000-04-19  0.253067 -0.845030  0.970487 -1.939668
2000-04-26 -0.822006  0.536323  0.375326  0.448225
2000-05-03 -0.420386  0.594610  0.965241 -0.287269
2000-05-10  1.332682 -1.071094  0.075970 -1.777591
2000-05-17  0.470481 -0.668618 -1.165606 -1.662534
2000-05-24  1.273783 -1.008453 -1.625782 -1.789667
2000-05-31 -0.386990  0.074552  1.547084 -1.449276
2000-06-07 -0.449133 -0.293092  0.882539 -0.445260
2000-06-14 -0.912434  0.377965 -1.068561 -1.754019
2000-06-21  0.049914  0.059000 -0.964297  0.420883
2000-06-28  0.516076 -0.354456  1.451875 -1.138082
2000-07-05  1.408907 -0.214990  0.602272 -1.002592
2000-07-12 -1.499002  0.460974  0.519318 -0.662825
2000-07-19  0.678427 -0.014618 -1.095714  3.260539
2000-07-26  0.082556  3.190305 -1.378838 -0.183131
...              ...       ...       ...       ...
2001-05-09 -1.687342 -0.663028  0.736701  0.062205
2001-05-16  1.749811  0.551170 -2.037761 -1.306223
2001-05-23  0.931114  0.372787 -0.131295 -0.376007
2001-05-30  0.428240  0.244450  0.331762 -0.895130
2001-06-06  0.065259  0.087481 -1.084939 -0.795764
2001-06-13  0.471920  1.136075  0.991470  0.288679
2001-06-20  0.085487 -0.813153  0.099141  0.323776
2001-06-27 -1.134508 -0.833017  1.052082  0.931750
2001-07-04  1.065170 -1.446595 -0.885742 -0.238155
2001-07-11 -0.263265 -0.580365  0.773733 -0.794439
2001-07-18 -1.037319 -1.436719  0.081401  1.166852
2001-07-25 -0.602385  2.357613  0.167090  1.067138
2001-08-01 -0.241572  0.013023 -1.008549 -1.739917
2001-08-08  1.416844 -0.976812 -2.498353 -0.007930
2001-08-15 -2.815639 -0.133541 -0.796100 -0.005601
2001-08-22  0.532231 -1.911610 -0.020213 -1.000856
2001-08-29  1.244654 -0.628546  0.333952  0.692221
2001-09-05  1.200321 -0.341337  0.386751 -1.835964
2001-09-12 -0.523837 -0.559470 -0.492440 -0.710386
2001-09-19 -1.151005  0.792255  0.553397 -0.954216
2001-09-26 -1.289766 -0.831388  0.673609 -0.241281
2001-10-03  1.146504 -1.841369  0.357524  1.212642
2001-10-10 -0.898400 -0.444725  2.248737  0.374662
2001-10-17 -1.053573 -0.077415 -0.459476  1.944137
2001-10-24 -1.007925  0.207917  0.450350 -1.103651
2001-10-31 -0.843844 -0.907964  0.325636 -0.262343
2001-11-07  1.028535 -0.934539 -1.914434  0.386256
2001-11-14  0.471133  0.035790 -0.908517 -0.227282
2001-11-21 -0.678334 -0.095453  0.189978  0.904986
2001-11-28 -0.976889 -1.088937  0.783154 -0.648320

[100 rows x 4 columns]

# 带有重复索引的时间序列

In [145]:
dates = pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000','1/2/2000',
                         '1/3/2000'])
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-02', '2000-01-02',
               '2000-01-03'],
              dtype='datetime64[ns]', freq=None)

In [146]:
dup_ts = Series(np.arange(5),index = dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [147]:
dup_ts.index.is_unique

False

In [148]:
dup_ts['1/3/2000']

4

In [149]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [150]:
grouped = dup_ts.groupby(level=0)

In [151]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [152]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

# 日期的范围、频率及移动

In [153]:
ts.resample('D').mean()

2011-01-02    1.010280
2011-01-03         NaN
2011-01-04         NaN
2011-01-05   -1.346911
2011-01-06         NaN
2011-01-07    0.897244
2011-01-08   -1.101381
2011-01-09         NaN
2011-01-10   -1.088600
2011-01-11         NaN
2011-01-12   -0.772412
Freq: D, dtype: float64

# 生成日期范围

In [154]:
index = pd.date_range('4/1/2012','6/1/2012')

In [155]:
pd.date_range(start='4/1/2012',periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [156]:
pd.date_range(end='6/1/2012',periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

# BM（business end of month）

In [157]:
pd.date_range('1/1/2000','12/1/2000',freq = 'BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [158]:
pd.date_range('5/2/2012 12:56:31',periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [159]:
pd.date_range('5/2/2012 12:56:31',periods=5,normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

# 频率和日期偏量

In [161]:
from pandas.tseries.offsets import Hour,Minute

In [162]:
hour = Hour()
hour

In [163]:
four_hours = Hour(4)
four_hours

In [164]:
pd.date_range('1/1/2000','1/3/2000 23:59',freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [165]:
Hour(2)+Minute(30)

In [166]:
pd.date_range('1/1/2000',periods=10,freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

# WOM日期(week of month)

In [167]:
rng = pd.date_range('1/1/2012','9/1/2012',freq='WOM-3FRI')  #每月第三个星期五

In [168]:
rng

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

# 移动数据

In [169]:
ts = Series(np.random.randn(4),
           index = pd.date_range('1/1/2000',periods=4,freq='M'))
ts

2000-01-31    0.927850
2000-02-29   -1.213890
2000-03-31   -1.220074
2000-04-30   -0.524616
Freq: M, dtype: float64

In [170]:
ts.shift(2)

2000-01-31        NaN
2000-02-29        NaN
2000-03-31    0.92785
2000-04-30   -1.21389
Freq: M, dtype: float64

In [171]:
ts.shift(-2)

2000-01-31   -1.220074
2000-02-29   -0.524616
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [172]:
ts.shift(2,freq='M')

2000-03-31    0.927850
2000-04-30   -1.213890
2000-05-31   -1.220074
2000-06-30   -0.524616
Freq: M, dtype: float64

In [173]:
ts.shift(3,freq='D')

2000-02-03    0.927850
2000-03-03   -1.213890
2000-04-03   -1.220074
2000-05-03   -0.524616
dtype: float64

In [174]:
ts.shift(1,freq='3D')

2000-02-03    0.927850
2000-03-03   -1.213890
2000-04-03   -1.220074
2000-05-03   -0.524616
dtype: float64

In [175]:
ts.shift(1,freq='90T')

2000-01-31 01:30:00    0.927850
2000-02-29 01:30:00   -1.213890
2000-03-31 01:30:00   -1.220074
2000-04-30 01:30:00   -0.524616
Freq: M, dtype: float64